body {
    margin: 0;
    background-color: rgb(24, 98, 141);
    color: #222;
}

.Rubric{
    height: 10rem;
    margin-bottom: 5rem;
}

.Top{
    display: flex;
    vertical-align: top;
    width: 100%;   
}

h1{
    font-size: 3rem;
}

h1:hover{
    color: whitesmoke;
}

#first{
    margin-left: 1rem;
    width: 200px;
}

#second{
    width: 800px;
    margin-left: 35rem;
    height: 75px;
    position: fixed;
}